# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Test coverage
.coverage
htmlcov/

# Logs
*.log

# ML outputs / generated artifacts
output/
models/
*.pth
*.pt
*.h5
*.ckpt
*.onnx

# Data
data/

# Environment variables / secrets
.env
*.env

# IDE
.vscode/
.idea/

# Temporary files
tmp/
temp/

old_models/